data/index
data/STAC/pc_partial_data
**/*.egg-info
**/cdk.out
**/.venv
.env
.idea
**/__pycache__
data/index/**
data/STAC/pc_partial_data/data/**
stac_index/indexer/stac_index/indexer/index_data/**
minio/mc/config/**
!**/.gitkeep
.autoenv*.zsh
.vscode
**/.DS_Store
todo.md