data
**/*.egg-info
cdk
**/cdk.out
.venv
.env
.idea
**/__pycache__
iac/.venv
data/index/**
data/STAC/pc_partial_data/data/**
stac_index/indexer/stac_index/indexer/index_data/**
minio/mc/config/**
!**/.gitkeep
.autoenv*.zsh
.vscode
**/.DS_Store
todo.md
.env