**/*.egg-info
**/__pycache__
cdk.out

.idea
iac/cdk.out
iac/.venv

data/index/**
data/STAC/pc_partial_data/data/**
stac_index/indexer/stac_index/indexer/index_data/**

minio/mc/config/**

!**/.gitkeep

.autoenv*.zsh
.vscode
**/.DS_Store
todo.md
.idea
cdk
cdk.out
.venv
iac/cdk.out

.env