**/*.egg-info
**/__pycache__
.idea
**/cdk.out
**/.venv
data/index/**
data/STAC/pc_partial_data/data/**
data/STAC/sample-alt*
stac_index/indexer/stac_index/indexer/index_data/**
minio/mc/config/**
!**/.gitkeep
.autoenv*.zsh
.vscode
**/.DS_Store
**/._.DS_Store
todo.md
.env
